<h1>Outfit Show Page</h1>

<%= button_to  "Update Outfit", edit_outfit_path, method: :get%> 
<%= button_to  "Delete Outfit", @outfit, method: :delete %>  

<%= @outfit.top.brand %> <br>
<%= @outfit.top.style %> <br>
<img src= "<%= @outfit.top.image_url %>"> 

<%= @outfit.bottom.brand %> <br>
<%= @outfit.bottom.style %> <br>
<img src= "<%= @outfit.bottom.image_url %>"> 

<%= @outfit.shoe.brand %> <br>
<%= @outfit.shoe.style %> <br>
<img src= "<%= @outfit.shoe.image_url %>"> 