<!DOCTYPE html>
<html>
  <head>
    <title>A&H Outfit App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="app-header">
        <div class="overlay">
          <%= link_to "My Outfits", "/myoutfits" %> |       
          <%= link_to "Create an Outfit", "/outfits/new" %> |
          <%= link_to "Tops", "/tops" %> |
          <%= link_to "Bottoms", "/bottoms" %> |
          <%= link_to "Shoes", "/shoes" %> |
          <%= link_to "Log Out", "/logout" %>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
